#u2>li:nth-child(4){
    background-color: #2278cf;
    border-radius: 5px;
}
#d2{
    /* border: 1px solid#000; */
    width: 30%;
    height: 300px;
    margin: 6% auto;
}
#u3{
    list-style-type: none;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid#DEE2E9;
}
#u3>li{
    float: left;
    font-size: 1rem;
}
#u3>li:first-child{
    width: 66px;
    height: 24px;
    padding: 8px 16px;
    border: 1px solid#DEE2E9;
    border-bottom: 3px solid#ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#u3>li:first-child a{
    text-decoration: none;
    color: #000000;
}
#u3>li:last-child{
    width: 112px;
    height: 24px;
    padding: 8px 16px;
    
}
#u3>li:last-child a{
    text-decoration: none;
    color: #4688f1;
}
#u3>li:last-child:hover{
    text-decoration: none;
    border: 1px solid#DEE2E9;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#d2>#d3{
    margin-top: 20px;
    width: 100%;
    height: 50px;
}
#d2>#d3>span:last-child{
    line-height: 28px;
}
#d2>#d3>#Email{
    width: 71%;
    height: 28px;
    padding-left: 10px;
    border: 1px solid #ced4da;
}
#loginInput{
    width: 84px;
    height: 36px;
    position: absolute;
    bottom:55%;
    left: 50%;
    background-color: #3494fc;
    color: white;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
p{
    font-size: 10px;
    margin-left: 33%;
    margin-top: -5%;
}
p>a{
    text-decoration: none;
    color: #4688f1;

}